<div id='container' class='container'>
  <!-- Your html here -->
  Search: <input ng-model="searchText">
  <ul>
  	<li ng-repeat='link in data.links | orderBy:"-visits" | filter:searchText' class='animate'>url: <a href={{link.url}} target=_blank>{{link.url}} </a> shortened: <a href="{{link.base_url + '/api/links/' + link.code}}" target=_blank>  {{link.code}} </a> visited: {{link.visits}}</li>
  </ul>

  <a href="#/shorten">>> Add a new link</a>
</div>
<!--
 visits: Number,
 link: String,
 title: String,
 code: String,
 base_url: String,
 url: String
 -->